.hero {
  width: 100%;
  height: 100px;

  display: flex;
}

#logo {
  justify-content: flex-start;
}

nav {
  width: 84%;
  text-align: center;
  padding-top: 20px;
  background-color: #fff;
}

nav a {
  justify-content: space-between;
  text-decoration: none;
  font-size: 20px;
  color: black;
  word-spacing: 1.5em;
  font-family: sans-serif;
  font-weight: bold;
  padding: 0 20px;
}

nav a:hover{
    color: aqua;
    cursor: pointer;
}

.left_content{
    background-color: #fff;
    justify-content: left;
    text-align: left;
    margin: 8%;
    width: 500px;
    height: 500px;
    font-size: 30px;
    float: left ;
}

p{
    font-size: 18px;
}

span{
    color: blueviolet;
}

#cv{
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: black;
    color: #fff;
}

.right_content{
    
    width: 300px;
    height: 500px;
    float: left;

}
